
{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}

{%load static%}

<!-- hero slider -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
        
          
        </ul>
        
        
      </div>
    </div>
  </div>
</section>
<!-- /hero slider -->


<!-- about us -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 order-2 order-md-1">
        <h2 class="section-title">Про нас</h2>
        <p>
          Раді вітати вас на оновленому інтернет-ресурсі "Інформатика". Цей сайт, створений у жовтні 2015 року, є інтелектуальною власністю його розробників.
          <br/>
          <br/>
          <h5>Авторська група:</h5> 
          <br/>
          <br/>
          <b>Коваленко Оксана</b> – засновник, автор ідеї та методичного наповнення.
          fb: https://www.facebook.com/oksana.kovalenko.127
          <br/>
          <br/>
          <b>Дасюк Антон</b> - розробник клієнтської та серверної частини (2015, 2020 роки), 
          fb: https://www.facebook.com/anton.dasyuk
          <br/>
          <br/>
          <b>Янченко Іван</b> – розробник клієнтської та серверної частини оновленого ресурсу (2020 рік), редактор сайту 2018-2020 н.р.
          fb: facebook.com/ivan.yanchenko24
          <br/>
          <br/>
          <b>Філончук Микита</b> - редактор сайту та розробник клієнтської частини сайту 2015-2016 н.р.
          <br/>
          <br/>
          <b>Фролов Дмитро</b> - редактор сайту 2016-2018 н.р.
          <br/>
          <br/>
          Дасюк Антон, Філончук Микита, Фролов Дмитро - випускники Чернігівської СЗОШ №2.
          <br/>
          <br/>
          Інформація та матеріали, розміщені на сайті, захищені Законом України «Про авторське право».
          <br/>
          <br/>
          <i>Знайшли помилку? Будь ласка, повідомте нам на пошту admin@it-science.com.ua</i>
</p>
        <p></p>

      </div>
      <div class="col-md-4 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="{% static 'images/logo.png'%}"  alt="about image">
      </div>
    </div>
  </div>
</section>








{% endblock %}