{% extends '../base.html' %}

{% block title %}Створення статті{% endblock %}

{% block content %}

{% load static %}
<link href="{% static 'css/addingPost.css' %}" rel="stylesheet">


<form class="post-create-form add_post" action="." method="POST">
    {%csrf_token%}
    {% for field in form %}
        {% for error in field.errors %}
            <i class="fa fa-times-circle"></i>
            {{ error }}
            <br/>
        {% endfor %}
    {% endfor %}
    {% for field in form %}
        <div class="field-wrapper">
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit" id="addPostSubmit" name="save">Додати</button>
</form>
{% endblock %}