{% extends '../base.html' %}

{% block title %}Створення статті{% endblock %}

{% block content %}

{% load static %}
<link href="{% static 'css/addingPost.css' %}" rel="stylesheet">

<script>
  CKEDITOR.replace('id_publication', {
    language: 'es'
  });
</script>

<form class="post-create-form add_post" action="." method="POST" enctype="multipart/form-data">
  {%csrf_token%}
  {% for field in form %}
  <div class="field-wrapper">
  <div class="form-group">
    <label>{{ field.label }}</label>
    {{ field }}
  </div>
  {% endfor %}
  <button type="submit" id="addPostSubmit" name="save">Зберегти</button>
</form>

{% endblock %}