{% extends '../base.html' %}


{% block title %}{{object.title}}{% endblock %}

{% block content %}
{%load static%}
<link href="{% static 'css/addingPost.css' %}" rel="stylesheet">
<style>
.no-box-shadow {
    box-shadow: none
}

.no-box-shadow:focus {
    box-shadow: none
}

.day {
    font-size: 9px
}

.heart {
    border: 1px soild green !important;
    border-color: green !important;
    border-radius: 22px
}

.heart-icon {
    color: green
}

.comment-text {
    font-size: 12px
}

.delete {
    font-size: 13px;
    cursor: pointer
}
</style>

<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb" style="text-align: center; max-width: 45%;">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{%url 'posts'%}">Статті</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">{{object.title}}</li>
        </ul>
        <p class="text-lighten">{{object.description}}</p>
      </div>
      <div class="col-md-12">
        {% for hash_tag in hash_tags%}
          <a class = "tag-item" href = "/poststag/{{hash_tag}}">#{{ hash_tag }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- section -->
<section class="section-sm">
  <div class="container">
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-12 order-1 col-sm-12 mb-12 mb-xl-12">
        <h2 style="text-align: center; word-wrap: break-word; vertical-align:middle;">{{object.title}}</h2>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="col-xl-8 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-book text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">Прочитаєте за</h6>
                <p class="mb-0">5 хв</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-eye text-primary icon-md mr-2"></i>
              <div class="text-center">
                <h6 class="mb-0">Перегляди</h6>
                <p class="mb-0">{{object.views}}</p>
              </div>
            </div>
          </li>
          {%if user.role.can_post == True and object.moderator == user or user.role.can_edit_posts == True%}
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
              <div class="d-flex align-items-center">
                <a href="{% url 'post-update' id=object.pk %}">
                <i class="ti-pencil text-primary icon-md mr-2"></i>
                <div class="text-left">
                      <h6 class="mb-0">Редагувати</h6>
                  </a>
                </div>
              </div>
            </li>
          {% endif %}
         
        </ul>
      </div>
      <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        {%if user.is_authenticated %}
        
        <form action="{%url 'post-favorite' id=object.pk %}" method="post">
            {% csrf_token %}
            <button  class="btn btn-primary" type="submit">
              {% if is_favorite %}
                  <i class="fas fa-heart"></i>Додано в обране
              {%else%}
                  <i class="far fa-heart"></i>Додати в обране
              {%endif%}
            </button>
        </form>
        {%else%}
          <a class="btn btn-primary" href="#loginModal" data-toggle="modal" data-target="#loginModal"><i class="ti-heart  mr-1"></i>Додати в обране</a>
        {%endif%}
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4">
        {{object.publication |safe }}
      </div>
    
      <!-- teacher -->
      <div class="col-12">
        <h5 class="mb-3">Автор</h5>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0">
            <a href="{% url 'profile' id=object.moderator.pk%}"><img class="mr-4 img-fluid" {% if post.moderator.google_avatar != "" %} src="{{post.moderator.google_avatar}}" {% else %} src = "{{post.moderator.avatar.url}}" {% endif %} alt="Teacher" width="50"></a>
            <div class="media-body">
              <a href="{% url 'profile' id=object.moderator.pk%}"><h6 class="mt-0">{{object.moderator.name}}</h6></a>
              {{object.moderator.about}}
            </div>
          </div>
          
        </div>
        <div class="border-bottom border-primary mt-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Останні статті</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- course item -->
      {% for post in latest_posts %}
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{post.title_image.url}}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>{{post.published}}</li>
              <li class="list-inline-item"><a class="text-color" href="#">{{post.moderator}}</a></li>
            </ul>
            <a href="{%url 'post-details' id=post.pk%}">
              <h4 class="card-title">{{post.title}}</h4>
            </a>
            <p class="card-text mb-4">{{post.description}}</p>
            <a href="{%url 'post-details' id=post.pk%}" class="btn btn-primary btn-sm">Детальніше</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <h2 style="text-align: center;">Коментарі</h1>
      <div class="d-flex justify-content-center row">
        <div class="col-md-8">
          <form name="sendComment" action="{% url 'sendComment' %}" method="post" style="width: 100%; padding-top: 8px; padding-bottom: 8px; padding-left: 4px;">
            {% csrf_token %}
            <input type="hidden" name="postId" value = "{{object.pk}}, {{user.pk}}">
            <div class="d-flex flex-row align-items-center add-comment p-2 bg-white rounded"><img class="rounded-circle" {% if not user.is_authenticated %}src="/media/avatars/default-avatar.png"{% else %} {% if comment.user.google_avatar != "" %} src="{{user.google_avatar}}" {% else %} src = "{{user.avatar.url}}" {% endif %} {% endif %}width="40"><input type="text" name="comment" class="form-control border-0 no-box-shadow ml-1" {% if not user.is_authenticated %} disabled="yes" {% endif %} placeholder={% if user.is_authenticated %}"Ваш коментар..." {%else%} "" {% endif %}{% if not user.is_authenticated %}value='Увійдіть для можливості залишати коментарі' {% endif %}></div>
          </form>
          {% for comment in comments %}
          <div class="p-3 bg-white mt-2 rounded">
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row user"><img class="rounded-circle img-fluid img-responsive" {% if comment.user.google_avatar != "" %} src="{{comment.user.google_avatar}}" {% else %} src = "{{comment.user.avatar.url}}" {% endif%} width="40">
                      <div class="d-flex flex-column ml-2"><span class="font-weight-bold">{{comment.user.name}}</span><span class="day">{{comment.date1}}</span></div>
                  </div>
                  <!-- <div class="d-flex align-items-center px-3 heart border"><i class="fa fa-heart heart-icon"></i><span class="ml-2">35</span></div> -->
              </div>
              <div class="comment-text text-justify mt-2">
                  <p>{{comment.text}}</p>
                  </p>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>

</section>
<!-- /related course -->

{% endblock %}