{% extends '../base.html' %}


{% block title %}{{category_name}}{% endblock %}

{% block content %}
{%load static%}

<style>
  .pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #ff5233;
  color: white;
  border: 1px solid #ff5233;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
</style>
<section class="hero-section overlay bg-cover" data-background="{{category_photo}}">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">{{category_name}}</a></li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">{{category_description}}</p>  
        </div>
        <div class="col-md-12">
          {% for hash_tag in category_tags%}
            <a class = "tag-item" href = "/poststag/{{hash_tag.pk}}">#{{ hash_tag }}</a>
          {% endfor %}
        </div>
  
      </div>
    </div>
  </section>
  <!-- /page title -->
  <section class="section">
    <div class="container">
      <!-- course list -->
  <div class="row justify-content-center">
    
    <!-- course item -->
    {% for post in posts %}
    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{ post.title_image.url }}" alt="{{post.title}}">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>{{post.published}}</li>
              <li class="list-inline-item"><a class="text-color" href="#">{{post.moderator}}</a></li>
            </ul>
            <a href="{%url 'posts'%}{{post.pk}}">
              <h4 class="card-title">{{post.title}}</h4>
            </a>
            <p class="card-text mb-4">{{post.description}}</p>
            <a href="{%url 'posts'%}{{post.pk}}" class="btn btn-primary btn-sm">Детальніше</a>
          </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- /course list -->
      
    {% if is_paginated %}
      <div class="pagination" style="margin-left: 34%; width: 100%; height: 100%;">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% endif %}
            {% for page in pages %}
              {% if page <= page_obj.paginator.num_pages %}<a {% if page == page_obj.number %} class="active" {% endif %} href="?page={{page}}">{{page}}</a> {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          {% endif %}
    </div>
    {% endif %}

  </section>
  <!-- /courses -->
    
{% endblock %}
