{% extends '../base.html' %}


{% block title %}{{object.title}}{% endblock %}

{% block content %}
{%load static%}


<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          {% if object.category == 1 %}
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{%url 'programming'%}">Програмування</a></li>
          {% elif object.category == 2 %}
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{%url 'school'%}">Шкільна Інформатика</a></li>
          {% elif object.category == 3 %}
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{%url 'it'%}">Інформаційні технології</a></li>
          {% elif object.category == 4 %}
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{%url 'scratch'%}">Scratch</a></li>
          {% else %}
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{%url 'scratch'%}">Статті</a></li>
          {% endif %}
          
          <li class="list-inline-item text-white h3 font-secondary nasted">{{object.title}}</li>
        </ul>
        <p class="text-lighten">{{object.description}}</p>
        {% for hash_tag in hash_tags%}
          <a href = "/poststag/{{hash_tag}}"><button type="submit" class="tag-item nuxt-link-active">#{{ hash_tag }}</button></a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- section -->
<section class="section-sm">
  <div class="container">
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2>{{object.title}}</h2>
      </div>
      <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-book text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">Прочитаєте за</h6>
                <p class="mb-0">5 хв</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-eye text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">Пергляди</h6>
                <p class="mb-0">{{object.views}}</p>
              </div>
            </div>
          </li>

          {%if user.is_superuser%}
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
              <div class="d-flex align-items-center">
                  <a href="{% url 'post-update' id=object.pk %}">
                <i class="ti-pencil text-primary icon-md mr-2"></i>
                <div class="text-left">
                  
                      <h6 class="mb-0">Редагувати</h6>
                  </a>
                </div>
              </div>
            </li>
          {% endif %}
         
        </ul>
      </div>
      <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        {%if user.is_authenticated %}
        
        <form action="{%url 'post-favorite' id=object.pk %}" method="post">
            {% csrf_token %}
            <button  class="btn btn-primary" type="submit">
              {% if is_favorite %}
                  <i class="fas fa-heart"></i>Додано в обране
              {%else%}
                  <i class="far fa-heart"></i>Додати в обране
              {%endif%}
            </button>
        </form>
        {%else%}
          <a class="btn btn-primary" href="#loginModal" data-toggle="modal" data-target="#loginModal"><i class="ti-heart  mr-1"></i>Додати в обране</a>
        {%endif%}
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4">
        {{object.publication |safe }}
      </div>
    
      <!-- teacher -->
      <div class="col-12">
        a<h5 class="mb-3">Автор</h5>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0">
            <img class="mr-4 img-fluid" src="{{post.moderator.avatar.url}}" alt="Teacher" width="50">
            <div class="media-body">
              <a href="{% url 'profile' id=object.moderator.pk%}"><h6 class="mt-0">{{object.moderator.name}}</h6></a>
              {{object.moderator.about}}
            </div>
          </div>
          
        </div>
        <div class="border-bottom border-primary mt-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Останні статті</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- course item -->
      {% for post in latest_posts %}
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{post.title_image.url}}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>{{post.published}}</li>
              <li class="list-inline-item"><a class="text-color" href="#">{{post.moderator}}</a></li>
            </ul>
            <a href="{%url 'post-details' id=post.pk%}">
              <h4 class="card-title">{{post.title}}</h4>
            </a>
            <p class="card-text mb-4">{{post.description}}</p>
            <a href="{%url 'post-details' id=post.pk%}" class="btn btn-primary btn-sm">Детальніше</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /related course -->

{% endblock %}