{% extends '../base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
<section class="hero-section overlay bg-cover" data-background="images/banner/banner-4.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Програмування</a></li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
  
            <form action="about.html">
              <button type="submit" class="tag-item nuxt-link-active">#scratch</button>
              <button type="submit" class="tag-item nuxt-link-active">#word</button>
              <button type="submit" class="tag-item nuxt-link-active">#веб-технології</button>
              <button type="submit" class="tag-item nuxt-link-active">#графіка</button>
              <button type="submit" class="tag-item nuxt-link-active">#windows</button>
              </form>
        </div>
  
      </div>
    </div>
  </section>
  <!-- /page title -->
  <section class="section">
    <div class="container">
      <!-- course list -->
  <div class="row justify-content-center">
    
    <!-- course item -->
    {% for post in posts %}
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-6.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №6</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- /course list -->
      
    {% if is_paginated %}
    <div class="d-flex justify-content-center">
          <ul class="list-inline">
              {% if page_obj.has_previous %}
                  <li class="list-inline-item"><a href="{% url 'school'%}?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-sm">Попередня</a></li>
                  {% else %}
                  <li class="list-inline-item"><a href="{% url 'school'%}" class="btn btn-primary btn-sm">Попередня</a></li>
              {% endif %}
              
              <li class="list-inline-item" aria-controls="dynamic-table" tabindex="0">
                    <a href="{% url 'school'%}?page={{page_obj.number}}">{{ page_obj.number }}</a>
              </li>
              {% if page_obj.has_next %}
                    <li class="list-inline-item"><a href="{% url 'school'%}?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm">Наступна</a></li>
              {% else %}
                    <li class="list-inline-item"><a href="{% url 'school'%}?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary btn-sm">Наступна</a></li>    
              {% endif %}
              
          </ul>
      </div>
    </div>
    {% endif %}

  </section>
  <!-- /courses -->
    
{% endblock %}
