{% extends '../base.html' %}


{% block title %}Редагування профілю{% endblock %}

{% block content %}

{% load static %}
<link href="{% static 'css/addingPost.css' %}" rel="stylesheet">

<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="teacher.html">Профіль</a></li>
            <li class="list-inline-item text-white h3 font-secondary nasted">{{object.name}}</li>
          </ul>
          <p class="text-lighten">{{object.about}}</p>
        </div>
      </div>
    </div>
  </section>

  <form class="post-create-form add_post" action="." method="POST" enctype="multipart/form-data" style="margin-top:1%;">
  {%csrf_token%}
  {% for error in errors %}
    <div style="margin-left: 40%;">
      <i class="fa fa-times-circle"></i>
      {{ error }}
      <br/>
    </div>
  {% endfor %}
  <br/>
  <br/>
  {% if object.google_avatar == ""%}
    {% for field in form %}
    {% if field.label != "Password"%}
    <div class="field-wrapper">
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="field-wrapper">
      <div class="form-group">
        <label>Поточний пароль</label>
        <input type="password" name="password" class="form-control" placeholder="" id = "pass">
      </div>
    </div>
  {% else %}
    {% for field in form %}
    {% if field.label != "Password" and field.label != "Ваше фото" and field.label != "Новий пароль(якщо не хочете змінювати залишить порожнім)" and field.label != "Поточний пароль" %}
    <div class="field-wrapper">
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
      </div>
    {% endif %}
    {% endfor %}
  {% endif %}
  <button type="submit" id="addPostSubmit" name="save">Зберегти</button>
  <input type="hidden" name="user" id="" value="{{user.pk}}">
</form>

{% endblock %}