{% extends 'base.html' %}

{% block title %}Авторизація{% endblock %}

{% block content %}
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">Вхід</a></li>   
        </ul>
      </div>
    </div>
  </div>
</section>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Увійти</button>
</form>
{% endblock %}