{% extends 'base.html' %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">Реєстрація</a></li>   
        </ul>
      </div>
    </div>
  </div>
</section>

<form class="login_form_page" method="post">
  {% csrf_token %}
  {{ registration_form }}
  <button id="login_submit" type="submit">Зареєструватися</button>
</form>
{% endblock %}