<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Інформатика{% endblock %}</title>
      
        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      
        <!-- ** Plugins Needed for the Project ** -->
        <!-- Bootstrap -->
        <script src="https://kit.fontawesome.com/20ebbdf649.js" crossorigin="anonymous"></script>

        
        {% load static %}
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
        <!-- slick slider -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
        <!-- themefy-icon -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
        <!-- animation css -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'plugins/animate/animate.css' %}">
        <!-- aos -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'plugins/aos/aos.css' %}">
        <!-- venobox popup -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'plugins/venobox/venobox.css' %}">
      
        <!-- Main Stylesheet -->
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
      
        <!--Favicon-->
        {% load static %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        {% load static %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

        {% load static %}
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
      
      </head>
      
      <body>
      <!-- header -->
      <header class="fixed-top header">
        <!-- top header -->
        <div class="top-header py-2 bg-white">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-lg-4 text-center text-lg-left">
                  {% load static %}
                <a class="text-color mr-3"><strong>Інф<img src="{% static 'images/logo.png' %}" alt="logo" width=20px height=20px>рматика</strong></a>
      
              </div>
              <div class="col-lg-8 text-center text-lg-right">
                <ul class="list-inline">
                  {% if user.role.can_change_hashtags == True %}
                  <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{%url 'hashtag-list'%}">Редагувати хештег</a></li>
                  <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{%url 'hashtag-create'%}">Додати хештег</a></li>
                  {% endif %}
                  {% if user.role.can_post == True%}
                  <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{%url 'post-create'%}">Додати статю</a></li>
                  {% endif %}
                  {% if user.is_superuser %}
                  <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="/admin">Адмін панель</a></li>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{%url 'profile' user.pk%}">Профіль</a></li>
                  <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{%url 'logout'%}">Вийти</a></li>
                  {% else %}
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- navbar -->
        <div class="navigation w-100">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
               
              <a class="navbar-brand" href="{% url 'index'%}">{% load static %}<img src="{% static 'images/logo.png' %}" alt="logo" width=50px height=50px></a>
              <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-left">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index'%}">Головна</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts'%}">Статті</a>
                  </li>
                  <li class="nav-item ">
                    {%if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'olympiad_system'%}">Олімпіади</a>
                    {%else%}
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModalInfo">Олімпіади</a></li>
                    {%endif%}
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about'%}">Про нас</a>
                  </li>
                  {%if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{%url 'logout'%}">Вийти</a></li>
                  {%else%}
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Увійти</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">Реєстрація</a></li>
                  {%endif%}
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <!-- /header -->
<body>

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>Реєстрація</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login">
                        <form method="post" action="/users/singup/">
                            {% csrf_token %}
                            {{registration_form}}
                            <button type="submit" id="login_submit">Зареєструватися</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade login_form" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3 text-align:center>Увійти в систему</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/users/login/" class="row login_form1">
                    {% csrf_token %}
                     {{login_form}}
                    <button type="submit" id="login_submit">Увійти</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginModalInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Увійти в систему</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              Увійдіть щоб отримати доступ до цієї сторінки
                <form method="post" action="/users/login/" class="row">
                    {% csrf_token %}
                     {{login_form}}
                    <button type="submit">Увійти</button>
                </form>
            </div>
        </div>
    </div>
</div>
  <main>

    {% block content %}
    {% endblock %}
  </div>
</body>

<footer>
    <!-- <div class="newsletter">
        <div class="container">
          <div class="row">
            <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
              <h4 class="text-white">Немає часу відвідувати сайт кожного дня?</h4>
              <h4 class="text-white">Підпишись та отримуй найважливіше одним листом.</h4>
              <form action="#">
                <div class="input-wrapper">
                  <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Введіть ваш Email...">
                  <button type="submit" value="send" class="btn btn-primary">Підписатися</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
   
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
            
            <!-- logo -->
            {% load static %}
            <a class="logo-footer" href="{% url 'index'%}"><img class="img-fluid mb-4" src="{% static 'images/logo.png' %}" width=100px height=100pxalt="logo"></a>
            <ul class="list-unstyled">
              <li class="mb-2">місто Чернігів, Україна</li>
              <li class="mb-2">admin@it-science.com.ua</li>
            </ul>
          </div>
          <!-- company -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Додаткова інформація</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="{% url 'index'%}">Головна</a></li>
              <li class="mb-3"><a class="text-color" href="{% url 'about'%}">Про нас</a></li>
              
            </ul>
          </div>
          <!-- links -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Корисні матеріли</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="{% url 'scratch'%}">Scratch</a></li>
              <li class="mb-3"><a class="text-color" href="{% url 'programming'%}">Програмування</a></li>
              <li class="mb-3"><a class="text-color" href="{% url 'school'%}">Шкільна інформатика</a></li>
              <li class="mb-3"><a class="text-color" href="{% url 'it'%}">Інформаційні технології</a></li>
            </ul>
          </div>
          <!-- support -->
  
          <!-- support -->
  
        </div>
      </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 text-sm-left text-center">
            <p class="mb-0">Всі права захищені ©
              <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
              </script>
  
          </div>
          <div class="col-sm-5 text-sm-right text-center">
  
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
  {% load static %}
  <!-- jQuery -->
  <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
  <!-- Bootstrap JS -->
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
  <!-- slick slider -->
  <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <!-- aos -->
  <script src="{% static 'plugins/aos/aos.js' %}"></script>
  <!-- venobox popup -->
  <script src="{% static 'plugins/venobox/venobox.min.js' %}"></script>
  <!-- mixitup filter -->
  <script src="{% static 'plugins/mixitup/mixitup.min.js' %}"></script>
  <script src="{% static 'plugins/google-map/gmap.js' %}"></script>  
  <!-- Main Script -->
  <script src="{% static 'js/script.js' %}"></script>
  {% block javascript %}{% endblock %}




</html>