{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero-section overlay bg-cover" data-background="images/banner/banner-4.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Програмування</a></li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
  
            <form action="about.html">
              <button type="submit" class="tag-item nuxt-link-active">#scratch</button>
              <button type="submit" class="tag-item nuxt-link-active">#word</button>
              <button type="submit" class="tag-item nuxt-link-active">#веб-технології</button>
              <button type="submit" class="tag-item nuxt-link-active">#графіка</button>
              <button type="submit" class="tag-item nuxt-link-active">#windows</button>
              </form>
  
  
        </div>
  
      </div>
    </div>
  </section>
  <!-- /page title -->
  <section class="section">
    <div class="container">
      <!-- course list -->
  <div class="row justify-content-center">
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №1</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-2.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №2</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-3.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №3</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-4.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №4</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-5.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №5</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-6.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №6</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /course list -->
      <!-- course list -->
  <div class="row justify-content-center">
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-1.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №7</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-2.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №8</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-3.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №9</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-4.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №10</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-5.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №11</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="images/courses/course-6.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Стаття №12</h4>
          </a>
          <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna.</p>
          <a href="course-single.html" class="btn btn-primary btn-sm">Детальніше</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /course list -->
  <div class="d-flex justify-content-center">
  <ul class="list-inline">
      <li class="list-inline-item"><a href="course-single.html" class="btn btn-primary btn-sm">Попередня</a></li>
      <li class="list-inline-item"><a href="course-single.html" class="btn btn-primary btn-sm">Наступна</a></li>
      </ul>
    </div>
    </div>
  </section>
  <!-- /courses -->
    
{% endblock %}